h1 {
    color: red;
    font-family: 'Helvetica';
    font-weight: bold;
    text-align: center;

}

.uppercase {
    text-transform: uppercase;
}

a[href*='Boot-Paint'] {
    color: rgba(240, 116, 1, 0.925);
}

a:hover {
    color:seagreen;
}

h3,
    p {
        font-family: monospace;
    }

p {
    font-size: 18px;
    text-align: justify;
}